{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">

<link rel="stylesheet" href="{% static 'users/css/reset.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'users/css/style.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static 'users/css/form.css' %}" type="text/css" media="all">
<script type="text/javascript" src="{% static 'users/js/jquery-1.4.2.js' %}" ></script>
<script type="text/javascript" src="{% static 'users/js/cufon-yui.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/cufon-replace.js' %}"></script> 
<script type="text/javascript" src="{% static 'users/js/Myriad_Pro_italic_600.font.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/Myriad_Pro_italic_400.font.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/Myriad_Pro_400.font.js' %}"></script>

<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--[if lt IE 9]>
    <script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
    <script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
    <div class="main">
<!-- header -->
        <header>
            <div class="wrapper">
                <h1>
                    <a href="{% url 'airline:index' %}" id="logo">Air Lines</a><span id="slogan">International Travel</span>
                </h1>
                <div class="right">
                    <nav>
                        <ul id="top_nav">
                        </ul>
                    </nav>
                    <nav>
                        <ul id="menu">
                            <li><a href="{% url 'airline:index' %}">Home</a></li>
                            <li><a href="{% url 'airline:services' %}">Services</a></li>
                            <li><a href="{% url 'airline:safety' %}">Safety</a></li>
                            <li><a href="{% url 'airline:charters' %}">Charters</a></li>
                            <li><a href="{% url 'airline:contacts' %}">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
</div>

{% block main %} {% endblock %}


<div class="body2">
    <div class="main">
<!-- footer -->
        <footer>
            <a href="https://airbookings.azurewebsites.net" target="_blank" rel="nofollow">airbookings.azurewebsites.net</a>
        </footer>
<!-- / footer -->
    </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>